{% extends "layout.html" %}

{% block title %}
    Bienvenidos!
{% endblock %}

{% block main %}
    <h3>¡Bienvenides a Contrat-o-matic!😁</h3>
    <p>
        Contrat-o-matic es una página dedicada a la creación de documentos legales sencillos.<br>
        Se basa en la filosofía de hacer el Derecho más accesible a todas y todos.<br>
    </p>
    <h4>¿Cómo funciona?</h4>
    <p>
        Haz click en alguno de los documentos de la barra superior. Ingresa todos los datos solicitados, y obtendrás tu documento.<br>
        Recuerda que para todo proyecto más específico, es recomendable obtener el consejo de un abogado.
        Contrat-o-matic provee soluciones estándar de manera gratuita; si necesitas soluciones a la medida <u>contacta a un profesional!</u>
    </p>

    <p>
        {{ test }}
    </p>

{% endblock %}
